---
import { getCollection } from 'astro:content';
import HeroBlock from '../cards/HeroBlock.astro';

// Fetch the latest from each collection
const logicModules = await getCollection('logicModules');
const latestLogic = logicModules.sort((a, b) => b.data.moduleNumber.localeCompare(a.data.moduleNumber))[0];

const bits = await getCollection('bits');
const latestBit = bits.sort((a, b) => b.data.timestamp.valueOf() - a.data.timestamp.valueOf())[0];

const essays = await getCollection('essays');
const latestEssay = essays.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())[0];
---

<div class="md:col-span-4 flex flex-col bg-surface-container-low">
  <!-- Block 1: Logic Module (Ice Blue) -->
  {latestLogic && (
    <HeroBlock 
      tag={`MODULE ${latestLogic.data.moduleNumber}`}
      title={latestLogic.data.title}
      description={latestLogic.data.description}
      bgClass="bg-[#D3E3FC]"
      hoverBgClass="hover:bg-[#FFCCBC] hover:-translate-y-1"
      href={`/logic-modules/${latestLogic.id}`}
    />
  )}
  
  <!-- Block 2: 48hrs-bits (White) -->
  {latestBit && (
    <HeroBlock 
      tag={`BIT ${latestBit.data.bitNumber}`}
      title={latestBit.data.category}
      description={latestBit.data.content.substring(0, 100) + '...'}
      bgClass="bg-[#FFFFFF]"
      hoverBgClass="hover:bg-[#00887A]/10 hover:-translate-y-1"
      href={`/bits/${latestBit.id}`}
    />
  )}
  
  <!-- Block 3: Essays Teaser (Muted Peach) -->
  {latestEssay && (
    <HeroBlock 
      tag={`ESSAY`}
      title={latestEssay.data.title}
      description={latestEssay.data.description}
      bgClass="bg-[#FFCCBC]"
      hoverBgClass="hover:bg-[#D3E3FC] hover:-translate-y-1"
      hoverTextClass="hover:text-white"
      href={`/essays/${latestEssay.id}`}
    />
  )}
</div>
